<% include _layouts/header %>

<% if (typeof cart !== "undefined") { %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="jumbotron text-center">
    <div class="fa-4x">

        <i class="fa fas fa-check" style="color:#2ECC71"></i>

    </div>
    <h1 class="display-3">Thank you</h1>
    <p class="lead"><strong>Your Purchase has been processed!</p>
    <p class="lead"><strong>Your Order Number is: #<%=order.orderNumber%> </p>
    <hr>
    <p>
        <a href="/">Thank you for buying some of my pokemon!</a>
    </p>
</div>

<br><br>

<table class="table table-striped alignmiddle">

    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th>Subtotal</th>
    </tr>

    <% var total = 0; %>
    <% cart.forEach(function(product){ %>
    <% var sub = parseFloat(product.qty * product.price).toFixed(2) %>
    <% total += +sub %>
    <tr>
        <td><img class="cpi" src="<%= product.image %>" alt=""></td>
        <td><%= product.title %></td>
        <td>$<%= product.price %></td>
        <td><%= product.qty %></td>
        <td>

        </td>
        <td>$<%= sub %></td>
    </tr>
    <% }); %>
    <tr>
        <td colspan="6" align="right"><b>Total: </b> $<%= parseFloat(total).toFixed(2) %></td>
    </tr>
    <tr>
        <td colspan="0" align="left">
            <a class="btn btn-success" href="/">Home</a>
        </td>

    </tr>
    <tr>

    </tr>

    <iframe height="1" width="1" frameborder="0" scrolling="no"
        src="https://www.emjcd.com/tags/c?containerTagId=1&AMOUNT=<%=total%>&CID=4321&OID=<%=order.orderNumber%>&TYPE=<ACTIONID>&CJEVENT=<CJEVENTID>&CURRENCY=USD"
        name=Conversiontag> </iframe>

    <iframe height="1" width="1" frameborder="0" scrolling="no"
        src="/api/converted?&OID=<%=order.orderNumber%>&CJEVENT=<%=CJEVENT%>&AMOUNT=<%=total%>&CURRENCY=USD"
        name=Conversiontag> </iframe>



</table>

<form class="pp" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="upload" value="1">
    <input type="hidden" name="business" value="jultranet-facilitator@gmail.com">
    <% var num = 0; %>
    <% cart.forEach(function(p){ %>
    <% num++ %>
    <input type="hidden" name="item_name_<%= num %>" value="<%= p.title %>">
    <input type="hidden" name="amount_<%= num %>" value="<%= p.price %>">
    <input type="hidden" name="quantity_<%= num %>" value="<%= p.qty %>">
    <% }); %>
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="amount" value="<%= total %>">
    <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit"
        alt="Make payments with PayPal - it's fast, free and secure!">
</form>

<% } else {%>
<h3 class="text-center">Your cart is empty.</h3>
<% } %>

<script>

    $(function () {

        $('a.clearcart').on('click', function () {
            if (!confirm('Confirm clear cart'))
                return false;
        });

        $('a.buynow').on('click', function (e) {
            e.preventDefault();

            $.get('/cart/buynow', function () {
                $('form.pp input[type=image]').click();
                $('.ajaxbg').show();
            });
        });

    });

</script>

<% include _layouts/footer %>